<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <%- // include('modal') %> -->
    <h1 id="modal"></h1>
    <button id="modalOPen" onclick="openModal()">Open Modal</button>
    <button id="modalOPen" onclick="closeModal()">Close Modal</button>

    <script src="/index.js"></script>
</body>

</html>